$header__height: 80px;
$main-color: #68c13e;
$secondary-color: #86cd65;
$tertiary-color: #a2df85;
$font-color-primary: white;
$font-color-secondary: black;


.allprojects__filter {
  display: flex;
  justify-content: center;
  min-width: 300px;
  max-width: 800px;
  flex-wrap: wrap;  
  
  button {
    padding: 10px;
    background-color: $tertiary-color;
    border: 0;
    margin: 5px;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    transition: 400ms;
    font-size: 1.4rem;

    &:hover {
      transform: scale(1.1);
    }
  }
  .item-active {
    background-color: yellow;
  }
}

