$header__height: 80px;
$main-color: #68c13e;
$secondary-color: #86cd65;
$tertiary-color: #a2df85;
$font-color-primary: white;
$font-color-secondary: black;

.profile {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: $header__height;
  padding-bottom: 30px;
  min-height: 100vh;
  z-index: 2;
  
  &::before {
    content: '';
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-image: url('../../assets/images/profileBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
  }
}