$header__height: 80px;
$main-color: #68c13e;
$font-color-primary: white;
$font-color-secondary: black;


.header {
  width: 100%;
  height: $header__height;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: $main-color;

  &__logo {
    height: $header__height;
    display: flex;
    align-items: center;

    img {
      height: calc($header__height - 10px);

    }
  }

}
