$header__height: 80px;
$main-color: #68c13e;
$secondary-color: #86cd65;
$tertiary-color: #a2df85;
$font-color-primary: white;
$font-color-secondary: black;

.app-wrapper{
  min-height: 100vh;
  background-color: $secondary-color;
  position: relative;
}

.header {
  width: 100%;
  height: $header__height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: $main-color;
  position: fixed;
  z-index: 3;

  &__logo {
    height: $header__height;
    display: flex;
    align-items: center;

    img {
      height: calc($header__height - 10px);

    }
  }

}

@media screen and (max-width: 460px) {
  header .navigation--mobile {
    display: flex;
    opacity: 1;
  }
  header .header__links {
    display: none;
  }
}
