$header__height: 80px;
$main-color: #68c13e;
$font-color-primary: white;
$font-color-secondary: black;


.header__links {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  a {
    width: 90px;
    color: $font-color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    margin: 0px 7px;
    height: $header__height;
    font-weight: 700;
    text-decoration: none;

    img {
      height: 25px;
      margin-right:4px;
    }
  }

  .activeTab {
    position: relative;
    
    &::after {
      margin-bottom: 10px;
      content: '';
      position: absolute;
      width: inherit;
      height: 5px;
      bottom: 0;
      background-color: white;
    }
  }
}
