$header__height: 80px;
$main-color: #68c13e;
$font-color-primary: white;
$font-color-secondary: black;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}