$header__height: 80px;
$main-color: #68c13e;
$secondary-color: #86cd65;
$tertiary-color: #a2df85;
$font-color-primary: white;
$font-color-secondary: black;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

html {
  font-size: 62.5%;
}

a {
  color: $font-color-secondary;
}