$header__height: 80px;
$main-color: #68c13e;
$secondary-color: #86cd65;
$tertiary-color: #a2df85;
$font-color-primary: white;
$font-color-secondary: black;

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  padding: 20px;

  img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: $tertiary-color;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    h1 {
      font-size: 3rem;
      margin-bottom: 15px;
      text-align: center;
    }
    p {
      font-size: 1.8rem;
      margin-bottom: 15px;
      width: 500px;
      text-align: center;
    }
    a {
      text-decoration: underline;
      text-align: center;
    }
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    font-size: 2rem;
    width: 150px;
    height: 50px;
    border-radius: 20px;
  }
}
